{% extends 'base.html.twig' %}

{% block title %}FAQ de l'environnement - {{ theme.title }}{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1 class="theme-title">{{ theme.title }}</h1>

{#    <ul class="anwsers-wrapper">#}
{#        {% for question in theme.questions %}#}
{#            <li class="question-wrapper">#}
{#                <h2 class="question-title">{{ question.title }}</h2>#}
{#                <p class="question-answer">{{ question.answer }}</p>#}
{#                <div class="question-links">#}
{#                    <div class="go-deeper">Liens pour approfondir</div>#}
{#                    {% for link in question.links %}#}
{#                        <div><a href="{{ link }}">{{ link }}</a></div>#}
{#                    {% endfor %}#}
{#                </div>#}
{#            </li>#}
{#        {% endfor %}#}
{#    </ul>#}

    {% if theme.content is not null %}
        <div class="markdown-wrapper">
            {{ theme.content|markdown_to_html }}
        </div>
    {% endif %}

</div>
{% endblock %}
